<!--<![endif]-->
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<title>{{site.title}}</title>
<!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
<link rel="shortcut icon" href="{{site.baseurl}}/assets/images/favicon.ico">
<link rel="apple-touch-icon" href="{{site.baseurl}}/assets/images/apple-touch-icon.png">
<!-- Common Style sheet -->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/common.css" media="all">
<!-- Home Style sheet -->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/home.css" media="all">
<!-- Custom flexslider Navigation -->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/flexslider.css" media="all">
<!-- Custom Superfish Navigation -->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/superfish.css" media="all">
<!-- Skeleton Css Framework -->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/skeleton.css" media="all">
<!-- Jquery Tabs Css -->
<!--<link rel="stylesheet" href="{{site.baseurl}}/assets/css/jQueryTab.css" media="all">-->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/easy-responsive-tabs.css"/>
<!--[if (gte IE 6)&(lte IE 8)]>
            <link rel="stylesheet" href="{{site.baseurl}}/assets/css/fallback.css" media="all">
        <![endif]-->
<!-- All JavaScript in the footer, except for Modernizr which enables HTML5 elements & feature detects -->
<script src="{{site.baseurl}}/assets/js/modernizr.js"></script>
<link rel="profile" href="http://gmpg.org/xfn/11">
</head>