<header id="header">
    <div class="logo"><a href="#"> <img src="images/common/logo-img.png" alt="" /> </a></div>
    <div class="header-quick-block">
        <ul>
            <li><a href="#"> Contact Info </a></li>
            <li><a href="#"> Feedback </a></li>
            <li><a href="#"> Sitemap </a></li>
        </ul>
        <fieldset class="sfsearchBox">
            <legend style="display:none;">Search</legend>
            <label for="txtSearchkey" style="display:none;">Scope</label>
            <input type="text" class="sfsearchTxt" value="Search" id="txtSearchkey">
            <label for="btnSearch" style="display:none;">Scope</label>
            <input type="submit" value="Search" class="sfsearchSubmit" id="btnSearch">
        </fieldset>
    </div>
    <div class="main-nav">
        <ul>
            <li><a href="#"> Home </a></li>
            <li>
                <a href="#"> The President </a>
                <ul>
                    <li><a href="#"> Biography </a></li>
                    <li><a href="#"> Portrait </a></li>
                    <li><a href="#"> The Presidential Standard </a></li>
                    <li><a href="#"> The Presidential Crest </a></li>
                    <li>
                        <a href="#"> Former Presidents</a>
                        <ul>
                            <li><a href="#"> Mr S R Nathan </a></li>
                            <li><a href="#"> Mr Ong Teng Cheong </a></li>
                            <li><a href="#"> Dr Wee Kim Wee </a></li>
                            <li><a href="#"> Mr Devan Nair </a></li>
                            <li><a href="#"> Dr Benjamin Sheares </a></li>
                            <li><a href="#"> Encik Yusof Ishak </a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"> Roles and Responsibilities </a>
                <ul>
                    <li>
                        <a href="#"> Duties</a>
                        <ul>
                            <li><a href="#"> Constitutional </a></li>
                            <li><a href="#"> Ceremonial </a></li>
                            <li><a href="#"> Community </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"> President Office</a>
                        <ul>
                            <li><a href="#"> Council of Presidential Advisers </a></li>
                            <li><a href="#"> Other Presidential Councils </a></li>
                            <li><a href="#"> Aids-de-Camp </a></li>
                            <li><a href="#"> Civil List </a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"> The Istana </a>
                <ul>
                    <li><a href="#"> History </a></li>
                    <li>
                        <a href="#"> The Ground</a>
                        <ul>
                            <li><a href="#"> Architecture </a></li>
                            <li><a href="#"> The Landscape </a></li>
                            <li><a href="#"> Publications </a></li>
                        </ul>
                    </li>
                    <li><a href="#"> Open House </a></li>
                    <li><a href="#"> Ceremonial Guards </a></li>
                </ul>
            </li>
            <li>
                <a href="#"> Media </a>
                <ul>
                    <li>
                        <a href="#"> Speeches </a>
                        <ul>
                            <li><a href="#"> 2014 </a></li>
                            <li><a href="#"> 2013 </a></li>
                            <li><a href="#"> 2012 </a></li>
                            <li><a href="#"> 2011 </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"> Press Releases </a>
                        <ul>
                            <li><a href="#"> 2014 </a></li>
                            <li><a href="#"> 2013 </a></li>
                            <li><a href="#"> 2012 </a></li>
                            <li><a href="#"> 2011 </a></li>
                        </ul>
                    </li>
                    <li><a href="#"> Photo Gallery </a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>