<!-- Javascript at the bottom for fast page loading -->
<!-- Grab Google CDN's jQuery -->
<script src="{{site.baseurl}}/assets/js/jquery-1.8.3.min.js"></script>

<!--  All Javascript Plugins -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/plugins.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/easyResponsiveTabs.js"></script>

<!-- Common Scripts -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/common.js"></script>

<!-- Home Page Scripts -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/home.js"></script>

<!-- Enables advanced css selectors in IE, must be used with a JavaScript library -->
<!--[if (gte IE 6)&(lte IE 8)]>
      <script type="text/javascript" src="/assets/js/selectivizr.js"></script>
    <![endif]-->
<!-- Prompt IE 6 users to install Chrome Frame -->
<!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent("onload", function () {
        CFInstall.check({mode: "overlay"})
    })</script>
    <![endif]-->
