.photo-gallery .event-picker {
    display: block;
    margin-bottom: 20px;
}

.content .photo-gallery div {
    padding-bottom: 10px;
}

.photo-gallery .event-picker div.event-year, .photo-gallery .event-picker div.event-month, .photo-gallery .event-picker div.event-detail {
    float: left;
    clear: none;
}

.content .photo-gallery div label {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 5px;
    min-width: 170px;
    text-align: right;
}

.photo-gallery .event-picker div.event-year label, .photo-gallery .event-picker div.event-month label {
    margin: 0 0 10px;
    padding: 2px 10px 2px 5px;
    min-width: 50px;
    font-weight: bold;
}

.content .photo-gallery div select {
    width: 282px;
}

.photo-gallery .event-picker div.event-year select, .photo-gallery .event-picker div.event-month select {
    margin: 0 0 10px;
    padding: 2px 0 2px 5px;
    width: auto;
}

.content .photo-gallery input[type=submit] {
    cursor: pointer;
}

.content .photo-gallery input[type="submit"] {
    display: inline-block;
    float: right;
    margin-right: 133px;
}

.photo-gallery .event-picker .botton {
    background: #c5714c;
    background: -moz-linear-gradient(top, #c5714c 0%, #9b320a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5714c), color-stop(100%,#9b320a));
    background: -webkit-linear-gradient(top, #c5714c 0%,#9b320a 100%);
    background: -o-linear-gradient(top, #c5714c 0%,#9b320a 100%);
    background: -ms-linear-gradient(top, #c5714c 0%,#9b320a 100%);
    background: linear-gradient(to bottom, #c5714c 0%,#9b320a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5714c', endColorstr='#9b320a',GradientType=0 );
    margin-right: 100px !important;
    background-color: #b8542a;
    border-radius: 5px;
    border: none;
    padding: 2px 5px;
    color: #ffffff;
}

.photo-gallery  .event-picker div.event-detail label {
margin: 0 0 10px;
padding: 2px 10px 2px 5px;
min-width: 50px;
font-weight: bold;
}

.photo-gallery .event-picker div.event-detail select {
    margin: 0 0 10px;
    padding: 2px 0 2px 5px;
    min-width: 450px;
}

.content .form label {
display: inline-block;
margin-bottom: 20px;
margin-right: 5px;
min-width: 170px;
text-align: right;
}

.content .form input[type=text], .content .form select {
width: 282px;
}


.content .form textarea {
height: 65px;
margin-bottom: 20px;
vertical-align: middle;
width: 54%;
}


.content .form input[type="submit"] {
display: inline-block;
float: right;
margin-right: 133px;
}

.addthis_sharing_toolbox a.at-share-btn {
text-indent: 0px;
}