/*=Home page styles
---------------------------------------*/
/*=Billboard Styles-----------*/
.billboard-wraper {
	background: #fff5c2; /* Old browsers */
	background: -moz-linear-gradient(top, #fff5c2 0%, #f1d49a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff5c2), color-stop(100%, #f1d49a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff5c2 0%, #f1d49a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff5c2 0%, #f1d49a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fff5c2 0%, #f1d49a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fff5c2 0%, #f1d49a 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff5c2', endColorstr='#f1d49a', GradientType=0 ); /* IE6-9 */
	width: 950px;
	margin: 0 auto;
	position: relative;
	-webkit-box-shadow: 0 0 3px 0 #A09D9D;
	box-shadow: 0 0 3px 0 #A09D9D;
}
.billboard .slides > li {
	position: relative;
	display:none;
}
.billboard .flex-control-nav {
	cursor:pointer;
	bottom: 30px;
	box-shadow: 0 0 15px rgba(58, 45, 10, 0.3);
	float: left;
	height: 35px;
	left: 125px;
	position: absolute;
	z-index: 15;
}
.billboard .slides > li .billboard-txt {
	width: 440px;
	padding: 50px 20px;
	float: left;
}
.billboard-txt a.btn {
    float: right;
    margin-top: 20px;
}
.billboard-txt h2 {
	font-size: 1.462em;
	font-weight: bold;
	margin: 11px 0 35px;
	text-align: center;
}
.billboard .flex-control-nav li a {
	color: #9B320A;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	height: 34px;
	line-height: 34px;
	text-align: center;
	width: 42px;
}
.billboard .flex-control-paging li a.flex-active,
.billboard .flex-control-paging li a:hover {
	background: #a76831; /* Old browsers */
	background: -moz-linear-gradient(top,  #a76831 0%, #bf7a3e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a76831), color-stop(100%,#bf7a3e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a76831 0%,#bf7a3e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a76831 0%,#bf7a3e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a76831 0%,#bf7a3e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a76831 0%,#bf7a3e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a76831', endColorstr='#bf7a3e',GradientType=0 ); /* IE6-9 */

	background-color: #E49F65;
	color: #FFFFFF;
}
.billboard-img {
	margin: 0;
	padding: 15px;
	float: right;
	background-color: #eeeeee;
	border-radius: 15px;
	right: 18px;
	top: 10px;
	box-shadow: 0 0 5px #888888;
	position: relative;
}
.billboard-img:after {
	background: url("../images/home/billboard-img-shadow.png") no-repeat scroll center center rgba(0, 0, 0, 0);
	bottom: -24px;
	content: "";
	height: 24px;
	left: 0;
	position: absolute;
	width: 100%;
}
.billboard-img .shadow {
	position: absolute;
	bottom: -29px;
	left: 0;
}



/*=Content Styles-----------*/
#content {
	background: none repeat scroll 0 0 #FFFFFF;
	font-size: 13px;
	font-weight: normal;
	margin: 0 auto;
	padding: 0;
	width: 960px;
}
.body-container {
	width: 960px;
	margin: 0 auto;
}
#content {
	padding-top: 50px;
}
#content .col-main {
	position: relative;
	background: url(../images/common/main_left_bg.jpg) no-repeat center top #FFFFFF;
	float: left;
	height: auto;
	padding: 14px 11px;
	width: 506px;
}
#home #content h2 {
	color: #B7120D;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: normal;
	margin: 0;
	padding-bottom: 20px;
	text-align: left;
}


#content article span {
    color: #494949;
    display: block;
    font-size: 12px;
    padding-bottom: 12px;
}
#content article a {
    color: #051165;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 20px;
    display: block;
	font-family:Arial, Helvetica, sans-serif;
}
#content article a:hover {
    color: #000;
    text-decoration: underline;
}
.rss-ico {
    background: url("../images/common/rss.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 25px;
    position: absolute;
    right: 11px;
    top: 13px;
    width: 25px;
}
#content .side-col {
    background: url(../images/common/main_center_bg.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: auto;
    padding-top: 14px;
    vertical-align: top !important;
    width: 231px;
}
.side-col.mid .col-img {
    padding-left: 10px;
}
#content .col-main, #content .side-col.mid {
    margin-right: 8px;
}
#content .last-col{
    float: left;
}
.through {
    padding: 0 9px;
}
.through .connect_section {
    margin-left: 16px;
    margin-top: -5px;
}
.social-feed > ul {
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
}
.social-feed {
    padding-left: 11px;
}
.social-feed li {
    float: left;
    margin-right: 8px;
}
.social-feed li a {
    display: inline-block;
    height: 32px;
    width: 32px;
}
.facebook-ico {
    background: url(../images/common/fb-ico.jpg) no-repeat center;
}
.twitter-ico {
    background: url(../images/common/tw-ico.jpg) no-repeat center;
}
.linkedin-ico {
    background: url(../images/common/li-ico.jpg) no-repeat center;
}
.side-col.mid .col-img {
    margin: 0;
    padding: 0 11px;
}
.col-img {
    margin: 0;
}
.col-img img {
    display: inline-block;
}
.last-col .col-img {
    margin-bottom: 15px;
}
