/*** ESSENTIAL STYLES ***/
.main-nav > ul, .main-nav > ul * {
    /* margin:			0; */
    /* padding:		0; */
    /* list-style:		none; */

}

.main-nav > ul ul {
    position:		absolute;
    top:			-999em;
    width:			220px; /* left offset of submenus need to match (see below) */
    z-index:		10;
}
.main-nav > ul ul li {
    width:			100%;
}
.main-nav > ul li:hover {
    visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.main-nav > ul li {
    float:			left;
    position:		relative;
}
.main-nav > ul a {
    display:		block;
}
.main-nav > ul li:hover ul, .main-nav > ul li.sfHover ul {
    top: 45px; /* match top ul list item height */
    z-index:		99;
}
.main-nav > ul li:hover li ul, .main-nav > ul li.sfHover li ul {
    top:			-999em;
}
.main-nav > ul li li:hover ul, #primary-ul li li.sfHover ul {
    left:			220px; /* match ul width */
    top:			0px;
}
.main-nav > ul li li:hover li ul, .main-nav > ul li li.sfHover li ul {
    top:			-999em;
}
.main-nav > ul li li li:hover ul, .main-nav > ul li li li.sfHover ul {
    left:			220px; /* match ul width */
    top:			0;
}
/*** Skin ***/
.main-nav > ul {
}
.main-nav > ul li {
    /* height:45px; */
}
.main-nav > ul li a {
    /* text-transform: uppercase; */
    /* padding:13px 12px; */
    /* text-decoration:none; */
    /* vertical-align:middle; */
    border: 1px solid transparent;
}
/* .main-nav > ul li:last-child a {
    padding-right: 0;
} */
.main-nav > ul li li:last-child a {
    padding-right: 12px;
}
.main-nav > ul li a:hover,
.main-nav > ul li.current-menu-item a,
.main-nav > ul li:hover > a,
.main-nav > ul li.current-menu-ancestor a,
.main-nav > ul li.current-menu-parent a,
.main-nav > ul li.current_page_item > a {
    color: #FFF;
    text-decoration: none;
    border: 1px solid #C18441;
	border-top-width:0;
}
.main-nav > ul > li:hover > a{
	background:none;
	border:1px solid rgba(0, 0, 0, 0);
	}
.main-nav > ul li:hover a{
	
	}
.main-nav > ul li ul li a:hover,
.main-nav > ul li ul li:hover > a {
    background: none repeat scroll 0 0 #FBD8A2;
}
.main-nav > ul li.sfHover li.sfHover li a:hover, .main-nav > ul li li li:hover > a {
    background: none repeat scroll 0 0 #FBD8A2;
}

.main-nav > ul li a span {
    display:block;
}

/*Second Level*/

.main-nav > ul ul{
    box-shadow: 2px 3px 9px 0 #AEAEAF;
    border: 1px solid #AD630C;
    background: #fff;
    border-top: none;
    border-bottom: none;
	list-style-type:none;
}
.main-nav > ul li li{
    padding:0px;
    background-image:none;
    height:auto;
    border: none;
}

.main-nav > ul li li a,
.main-nav > ul li.sfHover li a,
.main-nav > ul li.current-menu-item li a,
.main-nav > ul li.current-menu-parent li a,
.main-nav > ul li.current-menu-ancestor li a,
.main-nav > ul li li.current-menu-item li a,
.main-nav > ul li li.current-menu-parent li a,
/*3rd level*/
.main-nav > ul li.sfHover li li a:hover,
.main-nav > ul li.sfHover li li.current-menu-item a,
.main-nav > ul li li.current-menu-parent li.current-menu-item a{
    zoom:1;
    height:auto;
    font-weight:normal;
    font-size: 0.846em;
    padding: 15px 5px 12px 10px;
    float:none;
    display:block;
    text-transform: inherit;
	line-height:1.4;
	border:1px solid #AD630C;
    border-left: none;
    border-right: none;
    margin-top: -1px;
	color: #320000;
    font: bold 12px Arial, Helvetica, sans-serif;
	background: url("../images/common/sub-menu-background.png") repeat-x scroll #c18441;
}

.main-nav > ul li ul li a.sf-with-ul:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    content: "";
    display: inline-block;
    right: 5px;
    margin: 0;
    position: absolute;
    top: 15px;
}

.main-nav > ul > li > li > a{
	}
.main-nav ul li:last-child ul{
	right:0;}
.main-nav ul li:last-child ul ul, 
.main-nav ul li:nth-last-child(2) > ul ul 
/*.nav-main-list li:nth-last-child(3) > ul ul*/{
	left: -220px;
}
	
.main-nav {
	display: inline-block;
	width: 900px;
	background: url(../images/common/nav-background.png) repeat-x;
	border-radius: 8px;
	padding: 0px 30px;
	margin-top: 5px;
	position: relative;
	z-index: 10;
}
.main-nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}
.main-nav > ul > li {
	float: left;
}
.main-nav > ul li a {
	padding: 12px 40px;
	position: relative;
}
.main-nav > ul li:hover {
	background: url(../images/common/nav-background-hover.png) repeat-x;
}
.main-nav > ul .active {
	background: url(../images/common/nav-background-hover.png) repeat-x;
}
.main-nav > ul li a {
	text-decoration: none;
	color: #ffffff;
	font: bold 16px Arial, Helvetica, sans-serif;
}
