---
layout: default
---
<body id="home" class="home">
    <div class="primary-container">
        {%- include header.html -%}
        {{content}}
        <section class="billboard-wraper">
            <div class="billboard">
                <ul class="slides">
                    <li>
                        <div class="billboard-txt">
                            <h2> Welcome to the Official Website of President Tony Tan Keng Yam and the Istana </h2>
                            <p> Dr Tony Tan Keng Yam was elected as President in the Presidential Election on 27 August 2011. He was sworn in as the seventh President of Singapore on 1 September 2011. Learn more about his roles and responsibilities >> </p>
                            <a href="#" class="btn">Read More</a>
                        </div>
                        <figure class="billboard-img"> <img src="{{site.baseurl}}/assets/images/home/NDP-2013-website-banner-slide-1.jpg" alt="" /> </figure>
                    </li>
                    <li>
                        <div class="billboard-txt">
                            <h2>Presentation of Credentials</h2>
                            <p> HE Tanveer Akhtar Khaskheli (pictured), High Commissioner of the Islamic Republic of Pakistan, HE Byron René Escobedo-Menéndez, Ambassador of the Republic of Guatemala, and HE Mahmoud Mohamed Aboud, Ambassador of the Union of Comoros, presented their credentials to President Tony Tan Keng Yam at the Istana on 24 April 2014. </p>
                        </div>
                        <figure class="billboard-img"> <img src="{{site.baseurl}}/assets/images/home/POC-Apr-2014-Banner.jpg" alt="" /> </figure>
                    </li>
                    <li>
                        <div class="billboard-txt">
                            <h2>Courtesy Call by Burkinabe President</h2>
                            <p> President Tony Tan Keng Yam received a courtesy call from His Excellency Blaise Compaoré, President of Burkina Faso, at the Istana on 23 April 2014. President Compaoré was in Singapore to attend the Burkina Faso-Singapore Business Forum organised by the Singapore Business Federation on 24 April 2014. He was accompanied by a delegation comprising ministers and senior officials. </p>
                        </div>
                        <figure class="billboard-img"> <img src="{{site.baseurl}}/assets/images/home/Call-by-HE-Blaise-Compaore-President-of-Burkina-Faso-23-April-2014-Banner.jpg" alt="" /> </figure>
                    </li>
                    <li>
                        <div class="billboard-txt">
                            <h2> Courtesy Call by President of French Senate </h2>
                            <p> His Excellency Jean-Pierre Bel, Senator and President of the Senate of the French Republic called on President Tony Tan Keng Yam on 22 April 2014. HE Jean-Pierre Bel and delegation members were in Singapore on an official visit from 20 to 23 April 2014 at the invitation of Prime Minister Lee Hsien Loong. </p>
                        </div>
                        <figure class="billboard-img"> <img src="{{site.baseurl}}/assets/images/home/Courtesy-Call-by-President-of-French-Senate-Apr-2014-Banner.jpg" alt="" /> </figure>
                    </li>
                    <li>
                        <div class="billboard-txt">
                            <h2> State Visit by HM Sultan Haji Hassanal Of Barunei Darussalam </h2>
                            <p> His Majesty Sultan Haji Hassanal Bolkiah of Brunei Darussalam was on his third State Visit to Singapore from 21 to 23 April 2014. In this photo, HM Sultan Haji Hassanal accompanied by President Tony Tan, receives the ceremonial welcome at the Istana. </p>
                        </div>
                        <figure class="billboard-img"> <img src="{{site.baseurl}}/assets/images/home/State-Visit-by-Sultan-of-Brunei-Apr-2014-Banner.jpg" alt="" /> </figure>
                    </li>
                </ul>
            </div>
        </section>
        <div id="content" class="content-sec clearfix">
            <div class="col-main">
                <h2>Latest Updates</h2>
                <article> <span>May 16, 2014</span> <h6><a href="#">President's Address for Opening of 2nd Session of 12th Parliament</a></h6> </article>
                <article> <span>May 07, 2014</span> <h6><a href="#">Speech by President Tony Tan at St Gallen Symposium Circle of Benefactors Dinner</a></h6> </article>
                <article> <span>May 05, 2014</span> <h6><a href="#">Remarks by President Tony Tan at the Joint Press Conference in Lisbon 2014</a></h6> </article>
                <article> <span>May 05, 2014</span> <h6><a href="#">Toast Speech by President Tony Tan at the State Banquet hosted by His Excellency Aníbal Cavaco Silva, President, the Portuguese Republic</a></h6> </article>
                <article> <span>Apr 28, 2014</span> <h6><a href="#">Istana Open House On 1 May 2014</a></h6> </article>
                <a href="#" class="rss-ico"></a>
            </div>
            <div class="side-col mid">
                <div class="through">
                    <h2>Connect with The President</h2>
                    <div class="connect_section">
                        <iframe class="connect_fb" title="Dr Tony Tan on Facebook" style="border:none; overflow:hidden; width:198px; height:69px;" src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FDrTonyTan&amp;width=200&amp;height=62&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=false"><a href="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FDrTonyTan&amp;amp;width=200&amp;amp;height=62&amp;amp;colorscheme=light&amp;amp;show_faces=false&amp;amp;border_color&amp;amp;stream=false&amp;amp;header=false">Click here if unable to view</a>Facebook Likebox</iframe>
                        <div id="fb-root"></div>
                    </div>
                </div>
                <div class="hr"></div>
                <div class="social-feed">
                    <h2>Share this website</h2>
                    <ul>
                        <li><a class="facebook-ico" title="Facebook" href="#" target="_blank"></a></li>
                        <li><a class="twitter-ico" title="Tweet" href="#" target="_blank"></a></li>
                        <li><a class="linkedin-ico" href="#" target="_blank" title="LinkedIn"></a></li>
                    </ul>
                </div>
                <div class="hr"></div>
                <figure class="col-img"><a href="#"><img src="{{site.baseurl}}/assets/images/home/banner_gallery.jpg" alt="" /></a></figure>
            </div>
            <div class="last-col">
                <figure class="col-img"><a href="#"><img src="{{site.baseurl}}/assets/images/home/1395307544168.jpg" alt="" /></a></figure>
                <figure class="col-img"><a href="#"><img src="{{site.baseurl}}/assets/images/home/1361178944377.jpg" alt="" /></a></figure>
                <figure class="col-img"><a href="#"><img src="{{site.baseurl}}/assets/images/home/1384142533690.jpg" alt="" /></a></figure>
            </div>
        </div>
        {%- include footer.html -%}
    </div>
    {%- include js.html -%}
</body>